.Apartment-page {

    .apartment_informations {
        display: flex;
        gap: 5rem;

        @media screen and (width <=768px) {
            flex-direction: column;
            gap: 0;

        }
    }

}