.error-page {
    color: #FF6060;
    text-align: center;

    h1 {
        font-size: 230px;
        font-weight: 700;
        margin-block: 0;
    }

    h2 {
        font-size: 36px;
        font-weight: 500;
        padding-bottom: 4rem;
    }

    a {
        color: black;
        font-weight: 500;
    }
}