    .apartment_description {
        .description_header {
            background-color: #FF6060;
            color: white;
            font-weight: 700;
            font-size: 18px;
            padding-left: .5rem;
            border-radius: .7rem;
            padding: .5rem .7rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                font-size: 20px;
                cursor: pointer;
            }
        }

        .apartment_content {
            color: black;
        }

    }