.apartment {
    background-color: #FF6060;
    border-radius: 10px;
    flex-basis: 27.5%;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    & .subtitle {
        width: 40%;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }

    @media screen and (width <=768px) {
        .apartment {
            flex-basis: 100%;
            min-height: 255px;
        }

        &.subtitle {
            width: 21%;
        }

    }

}