.footer {

    background-color: black;
    color: white;
    text-align: center;
    min-height: 209px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer_logo {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

@media screen and (width <=768px) {
    .footer_logo {
        justify-content: center;
        margin: 2rem 0;
        padding-top: 0;
        gap: 2rem;
        padding-bottom: 0;

    }

    .footer_text {
        width: 22%;
    }

}