.navbar {

    display: flex;
    align-items: center;
    color: #000000;
    font-weight: bold;
    gap: 2rem;
    width: 86%;
    margin: auto;
    margin-top: 3rem;
}

.navbar_logo {
    margin-right: auto;
}

.navbar img {
    width: 210.5px;
}

@media screen and (width <=768px) {
    .navbar {
        width: 90%;
        margin-top: 1rem;
    }

}